<p>
	<%= entry.created_at %> <br>
	<%= print_with_tags(entry.description) %><br>
	[<%= link_to 'edit', edit_entry_path(entry, :log_book_id => @log_book.id) %>] [<%= link_to 'x', entry_path(entry, :log_book_id => @log_book.id), :method => 'delete', :data => {:confirm => "Are you sure?  This cannot be undone!"} %>]
</p>