<p id="log_book_id_<%= log_book.id %>">
	<%= link_to log_book.title, entries_path(:log_book_id => log_book.id) %> | [<%= link_to 'edit', edit_log_book_path(log_book) %>] [<%= link_to 'x', log_book_path(log_book), :method => 'delete', :data => {:confirm => "Are you sure?  This cannot be undone!"} %>]
</p>